<div class="m-3 d-flex justify-content-between">
  <h1>Watch Lists</h1>
  <button class="btn btn-primary"><%= link_to "Create List", new_list_path %></button>
</div>
<div>
  <ul class="list-inline">
    <% @lists.each do |list| %>
      <li class="list-inline-item ms-3">🎬 <%= link_to list.name, list %></li>
    <% end %>
  </ul>
</div>
