// Import page-specific CSS files here.
@import "home";

.btn-primary a {
  color: white;
  text-decoration: none;
}

.card-image {
  background: grey;
  height: 300px;
  width: 400;
}

a:link {
  text-decoration: none;
}
